/*CSS*/

* {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  border-bottom: 1px solid #dddddd;
}

#error {
  color: red;
}

#table {
  margin-top: 40px;
}

div.table div.row {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

div.th,
div.td {
  text-align: center;
  width: 19%;
  display: inline-block;
  border-bottom: 1px solid #dddddd;
}

div.th {
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 2px solid #dddddd;
}

.total {
  font-weight: 600;
}