/*CSS*/

* {
    font-family: sans-serif;
}

.unitats {
    margin-left: 40px;
}

.ample {
    margin-left: 80px;
}

.alt {
    margin-left: 69px;
}

#error {
    color: red;
}

#table {
    margin-top: 40px;
}

div.row {
    width: 100%;
    border-bottom: 0.5px solid black;
}

div.th,
div.td {
    text-align: center;
    width: 19%;
    display: inline-block;
}

div.th {
    font-weight: 600;
    margin-bottom: 10px;
}